<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layout/base :: head(titulo='Condiciones de Uso')}"></head>

<body class="d-flex flex-column min-vh-100">

<nav th:replace="~{layout/base :: navbar}"></nav>

<main class="container my-5">
    <div class="bg-white p-5 rounded shadow-sm border-start border-5 border-info">
        <h1 class="mb-4">Condiciones de Uso y Venta</h1>
        <p class="text-muted italic">Última actualización: Abril 2026</p>

        <section class="mt-4">
            <h4>1. Generalidades</h4>
            <p>Bienvenido a Mud & Tree TCG. Al utilizar este sitio, aceptas nuestras políticas de venta de cartas Pokémon y accesorios. Nos reservamos el derecho de limitar las unidades por cliente en productos de alta demanda (como las ediciones "Shiny" o "Evolving Skies").</p>
        </section>

        <section class="mt-4">
            <h4>2. Envíos y Devoluciones</h4>
            <p>Todos los envíos se realizan con protección tipo "Toploader" o cartón rígido para asegurar que tus capturas lleguen en estado Mint o Near Mint. No se aceptan devoluciones de sobres abiertos por razones obvias de seguridad (¡no queremos que nos devuelvas solo las energías!).</p>
        </section>

        <div class="mt-5">
            <a th:href="@{/}" class="btn btn-outline-dark">Volver a la Tienda</a>
        </div>
    </div>
</main>

<footer th:replace="~{layout/base :: footer}"></footer>

</body>
</html>