<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layout/base :: head(titulo='Tu tienda Pokémon')}"></head>

<body class="d-flex flex-column h-100">

<nav th:replace="~{layout/base :: navbar}"></nav>

<header class="hero-section text-center bg-dark text-white py-5 shadow-lg"
        style="background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/imagenes/tienda.png') no-repeat center center; background-size: cover;">
    <div class="container py-5">
        <h1 class="display-3 fw-bold">Bienvenidos a Hoenn</h1>
        <p class="lead">La mejor selección de cartas Pokémon TCG de España, de la raíz al río.</p>
        <a th:href="@{/productos}" class="btn btn-lg btn-mud-tree mt-3">Ver Novedades</a>
    </div>
</header>

<main class="container my-5" id="productos">
    <h2 class="text-center mb-4">Últimas Capturas (Novedades)</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card h-100 shadow-sm">
                <img th:src="@{/imagenes/categorias/Cartas.jpg}" class="card-img-top p-3" alt="Treecko VMAX" style="height: 250px; object-fit: contain;">
                <div class="card-body text-center">
                    <h5 class="card-title">Treecko VMAX</h5>
                    <p class="card-text text-muted">Expansión: Hoenn Legends</p>
                    <h4 class="text-success fw-bold">14,95€</h4>
                    <button class="btn btn-mud-tree w-100">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm border-info">
                <img th:src="@{/imagenes/categorias/Cartas.jpg}" class="card-img-top p-3" alt="Mudkip Shiny" style="height: 250px; object-fit: contain;">
                <div class="card-body text-center">
                    <h5 class="card-title">Mudkip Brillante</h5>
                    <p class="card-text text-muted">Expansión: Tesoros del Pantano</p>
                    <h4 class="text-primary fw-bold">29,99€</h4>
                    <button class="btn btn-mud-tree w-100">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <img th:src="@{/imagenes/categorias/Sobres.jpg}" class="card-img-top p-3" alt="Sobre TCG" style="height: 250px; object-fit: contain;">
                <div class="card-body text-center">
                    <h5 class="card-title">Sobre Escarlata y Púrpura</h5>
                    <p class="card-text text-muted">10 Cartas adicionales</p>
                    <h4 class="text-dark fw-bold">4,50€</h4>
                    <button class="btn btn-mud-tree w-100">Añadir al carrito</button>
                </div>
            </div>
        </div>

    </div>
</main>

<footer th:replace="~{layout/base :: footer}"></footer>

</body>
</html>